body{
    gap: 20px;
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
}

.card {
    background-color: #2d2d2d;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px
    rgba(0, 0, 0, 0.5);
    width: 300px;
}

input {
    width: 80%;
    padding: 30px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    border: none;
    background: #444;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ff4d00;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.resultado {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #00ff88;
}
img {
    width: 40%;
    height: 50%;
    border-radius : 40px;
    border: solid 5px;
    border-color: #ff4d00;
    box-shadow: 0 10px 30px
    red;
}
.progreso-container {
    width: 100%;
    background-color: #333;
    border-radius: 20px;
    height: 25px;
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid #444;
}
#barra-progreso {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #ff8c00, #ff4500);
    transition: width 0.8s
    ease-in-out; /*animacion suave cuando crezca */
    box-shadow: 0 0 10px #ff8c00;/*efecto neon*/
}
#texto-porcentaje {
    text-align: center;
    color: #ff8c00;
    font-weight: bold;
    margin-top: 8px;
}