body{
        gap: 20px;
        background-color: #1a1a1a;
        color: white;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height:  100vh;
    }
    
    .card {
        background-color: #2d2d2d;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 10px 30px
        rgba(0, 0, 0, 0.5);
        width: 90%;
        max-width: 400px;
        margin: 20px;
    }
    
    input {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
        font-size: 16px;
        padding: 30px;
        margin: 10px 0 20px 0;
        border-radius: 5px;
        border: none;
        background: #444;
        color: white;
    }
    
    button {
        width: 100%;
        padding: 12px;
        background-color: #ff4d00;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .resultado {
        margin-top: 20px;
        font-weight: bold;
        text-align: center;
        color: #00ff88;
    }
    img {
        max-width: 80%;
        width: 40%;
        height: auto;
        border-radius : 10px;
        border: solid 5px;
        border-color: #ff4d00;
        box-shadow: 0 10px 30px
        red;
    }
.progreso-container{
    width: 100%;
    background-color: #333;
    border-radius: 20px;
    height: 25px;
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid #444;
}
#barra-progreso {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #ff8c00, #ff4500);
    transition: width 0.8s
    ease-in-out; /*animacion suave cuando crezca */
    box-shadow: 0 0 10px #ff8c00;/*efecto neon*/
}
#texto-porcentaje {
    text-align: center;
    color: #ff8c00;
    font-weight: bold;
    margin-top: 8px;
}
@media(max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }
    .card {
        width: 100%;
        max-width: 350px;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}